.app-header {
  background-color: $darkslategray;
  justify-content: center;
  align-items: center;
  height: 12.8vh;
  padding: 0.5em;
}

.app-title {
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 2.4vw;
    color: #fff;
    text-align: center;
  }
}
