.messages-list {
  padding: 1.25em 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  overflow-y: visible;
}

.messages-message {
  display: flex;
  margin-top: 0.625em;
  &.currentMember {
    flex-direction: row-reverse;
    text-align: right;
    & > .message-content {
      align-items: flex-end;
      .text {
        background-color: $tomato !important;
      }
    }
  }
  & > .avatar {
    height: 2.2em;
    width: 2.2em;
    border-radius: 50%;
    display: inline-block;
    padding: 0.25em;
    margin: 0 0.625em 0.625em;
  }

  .message-content {
    display: inline-block;

    & > .username {
      display: block;
      color: gray;
      font-size: 1em;
      padding: 0.25em;
    }

    & > .text {
      padding: 0.625em;
      max-width: 30vw;
      margin: 0;
      border-radius: 0.75em;
      background-color: $deepskyblue;
      color: white;
      display: inline-block;
    }
  }
}
